.new-announcement{
    border-bottom: 1px solid grey;
    border-width: 75%;
    padding-bottom: 30px;
    padding-top: 30px;
}

.announcement-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    display: block;
}

.announcement-info{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: flex-end
}

.announcement-club {
    font-family: "Poppins";
    font-size: 1.25em;
    font-weight: 500;
}

.announcement-time {
    margin-left: auto;
    font-family: sans-serif;
}

.announcement-text{
    padding: 0;
    margin-top: 10px;
    margin-left: 50px;
    font-family: sans-serif;
    color: white
}

.announcement-link{
    padding: 0;
    margin-top: 10px;
    margin-left: 50px;
    font-family: sans-serif;
}