.event-info-container {
    background-color: #1F1F1F;
    border-radius: 7px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 10px;
}

.feed .feed-header{
    text-align: center;
    font-family: 'Poppins';
    margin: auto;
}

.post{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.post-info-container{
    margin-top: 30px;
    height: 100%;
    overflow-y: auto;
}

.header{
    margin: auto;
    text-align: center;
}
