.feed .feed-header{
    text-align: center;
    font-family: 'Poppins';
}

.header{
    margin: auto;
    text-align: center;
}

.big-feed{
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}