.club-info-container{
    margin-top: 0px;
    height: 100%;
    overflow-y: auto;
    margin: 10px;
}

.topic-feed{
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    align-items: stretch;
    align-content: flex-start;
    width: 760px;
    margin-bottom: 10px;
    overflow-x: auto;
}

.feed .feed-header{
    text-align: center;
    font-family: 'Poppins';
}
