.club-subscribed{
    border-radius: 15px;
    border: 1px solid blue;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
}

.club-unsubscribed{
    border-radius: 15px;
    border: 1px solid red;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
}

.club-name {
    font-family: "Poppins";
    font-size: 1.25em;
    font-weight: 500;
    padding-top: 10px;
    text-align: center;
}

.club-text{
    padding-top: 10px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}