.club-subscribed{
    border-radius: 7px;
    background-color: #202020;
    padding: 10px;
    padding-bottom: 20px;
    width: 270px;
    height: 120px;
}

.club-subscribed a {
    color: #f0ad4e;
}

.club-unsubscribed{
    border-radius: 7px;
    background-color: #202020;
    padding: 10px;
    padding-bottom: 20px;
    width: 270px;
    height: 120px;
}

.club-name {
    font-family: "Poppins";
    font-size: 1.25em;
    font-weight: 500;
    padding-top: 10px;
    text-align: center;
}

.club-text{
    padding-top: 10px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.club-tile {

    flex:0 0;
    height: 100%;
    margin: 5px;
}