.subscription-tile {
    display: flex;
    padding: 10px;
    border-top: 1px solid grey;
    justify-content: space-between;
}

.club-name p {
    text-align: left;
}
.buttons {
    align-self: flex-end;
}
.delete-club {
    padding: 10px;
    margin: 10px;
}

.leave-club {
    padding: 10px;
}