.profile_img {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.banner-username {
    text-align: center;
}

.profile-body-update {
    color: white;
    background-color: transparent;
    border: 2px solid #057BFE;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
}

.profile-update-button {
    display: block;
    margin: auto;
    color: #057BFE;
    left: 50%;
    margin-top: 10px;
}

.profile-update-button:hover {
    color: white;
    background-color: #057BFE;
    border: 2px solid #057BFE;
}